# Personal Medical Insurance Analysis

### Attribute Information
age: age of primary beneficiary

sex: insurance contractor gender, female, male

bmi: Body mass index, providing an understanding of body, weights that are relatively high or low relative to height,
objective index of body weight (kg / m ^ 2) using the ratio of height to weight, ideally 18.5 to 24.9

children: Number of children covered by health insurance / Number of dependents

smoker: Smoking

region: the beneficiary's residential area in the US, northeast, southeast, southwest, northwest.

charges: Individual medical costs billed by health insurance

In [2]:
%load_ext sql
%sql sqlite:///insurance.db

Questions
1. How many female are smokers?
2. How many male are smokers?
3. Show the distribution of smokers and non smokers in each region 
4. Is there a region where its average charge is below the overall average charge?
5. What can you say about people with children and those without children in terms of smoking
6. Which region has the highest number of smokers?
7. Which region has the lowest number of smokers?

In [3]:
%sql SELECT * FROM insurance LIMIT 5

 * sqlite:///insurance.db
Done.

[(19, 'female', 27.9, 0, 'yes', 'southwest', 16884.924),
 (18, 'male', 33.77, 1, 'no', 'southeast', 1725.5523),
 (28, 'male', 33, 3, 'no', 'southeast', 4449.462),
 (33, 'male', 22.705, 0, 'no', 'northwest', 21984.47061),
 (32, 'male', 28.88, 0, 'no', 'northwest', 3866.8552)]

In [4]:
%%sql 
SELECT  COUNT(*)
FROM    insurance
WHERE   sex = 'female' AND smoker = 'yes'

 * sqlite:///insurance.db
Done.

[(115,)]

Questions
1. How many female are smokers?
2. How many male are smokers?
3. Show the distribution of smokers and non smokers in each region 
4. Is there a region where its average charge is below the overall average charge?
5. What can you say about people with children and those without children in terms of smoking
6. Which region has the highest number of smokers?
7. Which region has the lowest number of smokers?